.navBar{
    flex: 1 1 0;
    background-color: rgb(41, 41, 41);
    border-bottom: 0.5px solid rgb(231, 228, 228);
    align-items: center;
    font-size: 14px;
    color: #555;
    
  }
  
  .navBar2{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
    padding-bottom: "2%";
    color: rgba(255, 228, 196, 0.781);
    
  }
  .navBar3{
   
    background-color: rgb(41, 41, 41);
    width: 100%; 
    padding-top: -2%;
    display: flex;
    align-items: center;
    gap: 1%; 
    font-size: large;
    color: bisque;
   
  
  }
  .navBarscroll
  {
    top: 0%;
    background-color: rgba(61, 61, 61, 0.952);
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: large;
    color: bisque;
  }

  .imgg{
    flex: 1 1 0;
 
    /* padding-inline-end: 30%; */
   
  }